.single-menu{
    margin-top: 45px;
    height: 32px;
}
.sidebar{
    min-height: 100vh;
    width: 258px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 0.4px 3.2px;
}
.side-name{
    margin-top: auto;
    color:#707275;
    margin-bottom: auto;
}

.side-name-active{
    color: black;
}
.single-menu-active{
    border: 2px solid #FF7300;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.side-icons-menu{
    width: 30px;
    margin-left: 30px;
    margin-right: 23px;
}

.sid-header{
    padding-top: 45px;
    padding-left: 57px;
}
